/* block top currencies */
#currencies_block_footer{float:right;color:#969696;font-size:10px;font-weight:700;text-transform:uppercase;border-left:1px dotted #969696;margin-left:10px;padding-left:10px;}
#currencies_block_footer p{margin:0}
#header_right #currencies_block_top {
	float:right;
	margin: 0 6px 0 0;
	padding: 2px 6px;
	-moz-border-bottom-right-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	background: none repeat scroll 0 0 #000;
}
#header_right #currencies_block_top p {
	clear: left;
	padding-right:16px;
	font: 11px Arial,Verdana,sans-serif;
	color: #ccc;
	text-align: right;
	background: url("img/block_languages_top_p_bg.png") no-repeat scroll right 1px transparent;
}
#currencies_block_top ul#first-currencies li {
	margin-right: 3px
}
#currencies_block_top ul#first-currencies li.selected {
	opacity: 1 !important;
}
/*languages with jquery*/
#setCurrency {
	position: relative;
}
#setCurrency p {float:left}
#setCurrency p img {
	padding-left: 5px;
}
#setCurrency .currencies_ul{float:left}
#setCurrency .currencies_ul li{float:left;margin-left:10px;}
#setCurrency .currencies_ul li a{color:#969696}
#setCurrency .currencies_ul li.selected a,#setCurrency .currencies_ul li a:hover{color:#fff;text-decoration:none}
#setCurrency .currencies_ul_hover{
	display:block;
	z-index: 5000;
	position:absolute;
	right:3px;
	padding:5px 10px;
	height:auto;
	text-align: center;
    width: auto;
	background:#000000;
}
#setCurrency .currencies_ul_hover a {color:#fff;}
