/* block top languages */
#languages_block_footer{float:right;color:#969696;font-size:10px;font-weight:700;text-transform:uppercase}
#languages_block_footer p{margin:0}
#header_right #languages_block_top {
	float:right;
	margin: 0;
	padding:2px 6px 1px 6px;
	-moz-border-bottom-right-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	background: none repeat scroll 0 0 #000;
}
#header_right #languages_block_top p {
	clear: left;
	padding-right:20px;
	font: 11px Arial,Verdana,sans-serif;
	color: #969696;
	text-align: right;
	background: url("img/block_languages_top_p_bg.png") no-repeat scroll right 1px transparent;
}
#languages_block_top ul#first-languages li {
	float: left;
	margin-right: 3px
}
#languages_block_top ul#first-languages li.selected_language {
	float: left;
}
/*languages with jquery*/
#countries {
	position: relative;
}
#countries p {float:left}
#countries p img {
	padding-left: 5px;
}
#countries .countries_ul{float:left;}
#countries .countries_ul li{float:left;margin-left:10px;}
#countries .countries_ul li a{color:#969696}
#countries .countries_ul li.selected_language,#countries .countries_ul li a:hover{color:#fff;text-decoration:none}
#countries .countries_ul_hover{
	display:block;
	z-index: 5000;
	position:absolute;
	right:6px;
	padding:5px 10px;
	height:auto;
	width:20px;
	background:#000000;
}
