/* block top search */
#search_block_top {margin-left:auto; margin-right:auto; margin-top:60px;border:1px solid #d1d7de;border-radius:3px;-moz-border-radius:3px;height:28px;width:50%;background:#fff; }
#search_block_top p {padding:0;margin:0}
#search_block_top #search_query_top {float: left;}

#search_block_top .button {
	border:none;
	border-radius:0!important;
	color:#fff;
	text-transform:uppercase;
	background:url(img/bg_search_submit.png) repeat-x 0 0;
	float: right;
	height: 30px;width:30px;text-indent:-9999px;margin-top:-1px;
}

form#searchbox label{color:#323232;float:left;padding:6px 10px;text-transform:uppercase;font:700 12px/1.35 "Roboto Condensed",Helvetica,arial;}
form#searchbox input#search_query_top{background:none;border:none;border-left:1px solid #d1d7de;height:29px;line-height:29px;width:50%;color:#929292;padding:0 10px;border-radius:0!important}
form#searchbox input#search_button{padding: 1px 4px;}

