.content_comapre{padding:30px 0}
table#product_comparison {
	width:100%;
	
}
.comparison_product_infos {padding:20px;overflow:hidden;border-right:1px solid #e4e4e4;position:relative;}
#product_comparison tr td.last .comparison_product_infos{border:none}
.comparison_product_infos .exclusive{position:static;display:inline;float:left; background: url("../img/bkg_add_cart.jpg") repeat-x scroll 0 0 transparent; border-left: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
    color: #323232;height:30px;line-height:30px;clear:left;white-space:nowrap}
.comparison_product_infos .name_product,
.comparison_product_infos .name_product h3{display:block;clear:both;line-height:15px;}
.comparison_product_infos .name_product h3 a{float:none}
#product_comparison tr.comparison_header {font-weight:bold}
#product_comparison td {vertical-align:middle;padding-bottom:15px;}

.comparison_header td,
.comparison_feature_odd,
.comparison_feature_even{padding:15px 20px;text-align:left;border-top:1px solid #e4e4e4;}
.comparison_feature_odd.first,
.comparison_feature_even.first,
#product_comparison tr.comparison_header td{padding:20px 0;font:700 12px/1.15 "Roboto Condensed",Helvetica,arial;text-transform:uppercase;color:#323232;}
#product_comparison tr.comparison_header td{border:none; background: url("../img/bkg_title_block.jpg") repeat-x scroll left top transparent;
    color: #397ABD;padding:30px 0}
#product_comparison td.td_empty{
}
#product_comparison tr.comparison_header,
#product_comparison td.comparison_feature_even {}
.comparison_feature_odd.first,.comparison_feature_even.first{font-weight:700}


#product_comparison .product_image {
	display:block;
	text-align:center;margin-bottom:10px;
}
#product_comparison .product_image img {max-width:100%}
#product_comparison .s_title_block {
	margin-bottom:10px;display:block
}
#product_comparison .s_title_block a{font:400 12px/15px "Lato",Arial, Verdana, sans-serif;color:#202020;text-transform:uppercase}
#product_comparison .product_desc {
	padding-bottom:5px;display:block;clear:both;
}
#product_comparison .lnk_more {
	display:block;
	margin-bottom:10px;
	padding-left:10px;
	color:#0088cc;
	background:url(../img/arrow_right_1.png) no-repeat 0 4px transparent;
}

#product_comparison .price {}
.product_discount{display:none}
.discount {
   display:inline-block;
   padding:1px 5px;
   font-size:10px;
   font-weight:bold;
   color:#fff;
   text-transform:uppercase;
	background:#9B0000
}

.comparison_availability_statut {display:none}

#product_comparison .cmp_remove {
	text-align:left;
	background:url(../img/icon/delete.png) no-repeat 0 2px transparent;position:absolute;
	top:0; left:20px;padding-left:15px;color:#397abd
}
#product_comparison  .comment{border:1px solid #ddd}

.ajax_add_to_cart_button {float:left}

.nicescroll-rails{cursor:pointer}

#product_comparison .star{position:static}








