ul#product_list {overflow:hidden;padding:0;width:107%;margin-left:-15px;}
.three_column #center_column ul#product_list{margin-left:-10px;}
.one_column ul#product_list.product_grid{margin-left:-20px}
ul#product_list.product_list{width:100%;margin-left:0!important}
.accessories_block ul#product_list{width:106%;margin-left:-10px;}
ul#product_list.product_grid li.grid_3 .exclusive{padding:0 10px;}
.accessories_block ul#product_list{padding-bottom:0}
.accessories_block{margin-bottom:0;}
ul#product_list li,
.accessories_block ul#product_list li{vertical-align:top;height:auto;padding:10px 0 30px;position:relative;float:none;display:inline-block;#display:inline;}

ul#product_list li .center_block{margin:0 10px;vertical-align:middle;position:relative}
ul#product_list li .image,
.accessories_block ul#product_list li .image{display:block;text-align:center;margin-bottom:10px}
ul#product_list li .image a.product_img_link{display:block}
ul#product_list h3,
.accessories_block ul#product_list .name_product{display:block;padding-bottom:5px;line-height:15px;}
.name_product h3 a,
.name_product a{color:#323232; font:700 12px/15px Helvetica,Arial, Verdana, sans-serif;	text-transform:none;}
.name_product h3 a:hover{text-decoration:none;color:#397abd}
.product_desc{color:#646464;padding-bottom:10px;display:block;font-size:11px;}
ul#product_list .content_price{display:block;margin-bottom:5px;}
.price{color:#d13e3b;font-weight:700}
.price.old{color:#d13e3b}
span.availability,span.cs_out_of_stock{color:#d13e3b;font-weight:400;display:block;padding:2px 0;font-size:11px;}
span.cs_out_of_stock{color:#397abd}
ul#product_list li .exclusive{margin:10px 0 5px;background:url(../img/bkg_add_cart.jpg) repeat-x 0 0;border-left:1px solid #e4e4e4;border-right:1px solid #e4e4e4;border-radius:3px;-moz-border-radius:3px;height:30px;color:#323232;font:700 12px/30px "Roboto Condensed",Helvetica,arial;text-transform:uppercase}
ul#product_list li.grid_3 .exclusive,ul#product_list li.grid_4 .exclusive{padding:0 10px}
ul#product_list li p.compare input.comparator{margin:0 5px 0 0;vertical-align:middle}
.product_list li{width:100%!important;margin:0 0 20px!important;border-bottom:1px solid #e4e4e4;padding:0 0 20px!important;display:block!important}
.product_list li.last_item{border:none}
.product_list li .center_block{margin:0!important}
.product_list li .image{width:200px;margin-left:30px;float:right;position:relative;}
.product_list li .image a.product_img_link{float:right}
.product_list li .exclusive{margin-right:10px!important;}
.product_list li p.compare{display:inline}
ul#product_list li .on_sale{position:absolute;top:0;right:0;}
ul#product_list li .on_sale span{display:table-cell;vertical-align:middle;border-radius:60px;-moz-border-radius:60px;font:400 12px/15px "Lato",Arial, Verdana, sans-serif;color:#fff;text-transform:uppercase;background:#505b85;width:40px;height:60px;padding:0 10px;}
.content_hide_show.block_hidden_only_for_screen ul#product_list li.last_item{padding-bottom:0}
p.compare {color:#646464;font-size:10px;font-weight:700}
p.compare  input.comparator{vertical-align:-2px;}
.layered_ajax_loader_icon{padding-left:15px;text-align:center}