.manufacturerContainer{padding:15px 0;background:#272727 url(../bkg_manu.png) repeat-x center center;overflow:hidden;clear:both;border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;margin-bottom:20px;}
.manufacturerContainer h4{text-align:center;padding:0 0 15px;font:700 24px/26px "Lato",Arial, Verdana, sans-serif;background:none;color:#202020;text-transform:uppercase}
.list_manufacturer {
	width: 360px;
}
.list_manufacturer ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;width:3960px;
}
.list_manufacturer li {
	width: auto;
	height: auto;
	padding: 0;
	margin:0 20px;float:left;
}
.list_manufacturer li  .menufacture-1 +  .menufacture-1{margin-top:40px;}
.list_manufacturer li a{display:block;text-align:center;}
.list_manufacturer li a img{max-width:100%;}
.list_manufacturer li a:hover{padding-left:0;}
.list_manufacturer.responsive {
	margin: 0;
	padding:0 50px;width:auto;display:block;position:relative;
}
.cclearfix {
	float: none;
	clear: both;
}
.pager {
	float: left;
	width: 300px;
	text-align: center;
}
.pager a {
	margin: 0 5px;
	text-decoration: none;
}
.pager a.selected {
	text-decoration: underline;
}
.timer {
	background-color: #999;
	height: 6px;
	width: 0px;
}
.ui-tabs .ui-tabs-hide {
    display: block;
    visibility: hidden;
    height: 0;
}
 a.btn{position:absolute;top:31%;text-indent:-9999px;float:left;background-image:url(../bkg_pre_next.png);background-repeat:no-repeat;width:35px;height:46px;cursor:pointer}
a#prev_cs_manu.prev{left:0;background-position:0 0}
a#next_cs_manu.next{right:0;background-position:100% 100%}

